* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--pk-heading-font);
}

html,
.body{
  overflow-x: hidden;
  background: var(--pk-color-bg);
}

/* --- Buttons --- */

.btn {
  font-size: 13px;
  font-weight: 500;
  padding: 7px 14px;
  cursor: pointer;
  border: 2px solid black;
  background: #333;
  color: white;
}

.btn-light {
  font-size: 13px;
  font-weight: 500;
  padding: 7px 14px;
  cursor: pointer;
  border: 2px solid black;
  background: white;
  color: black;
}

.btn-red {
  font-size: 13px;
  font-weight: 500;
  padding: 7px 14px;
  cursor: pointer;
  border: 2px solid black;
  background: var(--red);
  color: white;
}

.btn-red:hover,
.btn-light:hover,
.btn:hover {
  background: var(--blue);
  color: white;
}

/* --- Breadcrumb --- */
.breadcrumb {
  padding: 14px 52px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 13px;
  font-family: var(--pk-heading-font);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumb-link {
  color: var(--pk-color-text-muted);
  cursor: pointer;
}

.breadcrumb-link:hover {
  color: var(--pk-color-text);
}

.breadcrumb-sep {
  color: var(--pk-color-text-sep);
}

.breadcrumb-current {
  color: var(--pk-color-text);
  font-weight: 500;
}

/* --- Toggle --- */
.toggle {
  width: 40px;
  height: 22px;
  border-radius: 999px;
  border: 1px solid var(--pk-color-text);
  background: var(--pk-color-bg);
  cursor: pointer;
  position: relative;
  padding: 0;
  transition: background 0.2s;
  flex-shrink: 0;
}

.toggle-on {
  background: black;
}

.toggle-knob {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  transition: transform 0.2s;
}

.toggle-on .toggle-knob {
  transform: translateX(18px);
  background: white
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
  font-weight: 500;
  color: var(--pk-color-text)
}

.switch-hint {
  font-size: 12px;
  color: var(--pk-color-text-muted);
  font-weight: 400;
}

/* --- input fields --- */
.input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 2px solid var(--pk-color-text-muted);
  outline: none;
  color: var(--pk-color-text);
  background: var(--pk-color-bg);
  box-sizing: border-box;
}

.input::placeholder {
  color: #999;
}

.input:focus {
  border-color: var(--blue);
}