
:root {
  /* ---------- TEXT ---------- */

  /* Fonts */
  --pk-brand-font: 'IBM Plex Mono', monospace;
  --pk-heading-font: 'Space Mono', monospace;
  --pk-body-font: Arial, sans-serif;
  --pk-font-mono: 'IBM Plex Mono', monospace;

  /* Sizes */
  --pk-heading-size: 3rem;
  --pk-subheading-size: 1.5rem;
  --pk-body-font-size: 1rem;
  --pk-body-font-size-sm: 0.8rem;

  /* Weights */
  --pk-heading-weight: 800;
  --pk-bold-weight: 700;

  /* ---------- Colours ---------- */
  --red: #ff6b6b;
  --yellow: #ffe66d;
  --mint: #4ecdc4;
  --blue: #74c0fc;

  --pk-color-text: black;
  --pk-color-text-muted: color-mix(in srgb, var(--pk-color-text) 60%, transparent);
  --pk-color-text-subtle: color-mix(in srgb, var(--pk-color-text) 40%, transparent);

  --pk-color-bg: white;
  --pk-color-bg-hover: color-mix(in srgb, var(--pk-color-text) 50%, transparent);
  
  /* ---------- Other ---------- */
  --pk-content-max: 680px;
  --pk-space-page-x: 24px;
  --pk-space-page-y: 40px;

  --pk-z-modal: 100;
}

[data-theme="dark"] {
  --pk-color-text: white;
  --pk-color-bg: #2f415b;
}
