DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/plopkit"

BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET
BETTER_AUTH_URL=http://localhost:3000

PLATFORM_URL=http://localhost:5173
WWW_PLATFORM_URL=http://www.localhost:5173

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID 
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

RESEND_API_KEY=RESEND_KEY
EMAIL_FROM=noreply@plopkit.com

# Optional
# DEMO_WIDGET_KEY=WIDGET_KEY

# Keep false for self host
ENABLE_CLOUD=false